<input type="submit" value="submit" (click)="searchArtist(searchValue)" />

@if(tracksAndBiography()) {
  @defer {
    <p>Artists: {{ tracksAndBiography()?.biography.artist.name }}</p>
    <div [innerHTML]="tracksAndBiography()?.biography.artist.bio.content"></div>

    @for (item of tracksAndBiography()?.tracks.tracks.items; track item.id) {
    <ul>
      <li><img src="{{item.album.images[0].url}}" alt=""></li>
      <li>
        <a href="{{ item.external_urls.spotify }}" target="_blank">{{
          item.name
        }}</a>
      </li>
    </ul>
    }
  }

  @loading (minimum 2s) {
    <h2>Please wait...</h2>
  }
}
