<input type="submit" value="submit" (click)="searchArtist(searchValue)" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"/>

@if(tracksAndBiography()) {
  @defer {
    <p>Artists: {{ tracksAndBiography()?.biography.artist.name }}</p>
    <div [innerHTML]="tracksAndBiography()?.biography.artist.bio.content"></div>

    @for (item of tracksAndBiography()?.tracks.tracks.items; track item.id) {
    <ul>
      <li><img src="{{item.album.images[0].url}}" alt=""></li>
      <li>
        <a href="{{ item.external_urls.spotify }}" target="_blank">{{
          item.name
        }}</a>
      </li>
    </ul>
    }
  }

  @loading (minimum 2s) {
    <h2>Please wait...</h2>
  }
}
